
@*@model IndexModel*@
@{
    ViewData["Title"] = "Recognise bird species";
}
@*<style>
    #headerDiv {
        color: blue;
        text-align: center;
    }

</style>*@

@*<div id="headerDiv"><h2>TensorFlow Image Classification</h2></div>*@
<br />
<div>
    <form method="post" asp-action="ClassifyImage" enctype="multipart/form-data">
        <div>
            <p>Upload a file image using this form to predict the bird species:</p>
        </div>
        <div>
            <input type="file" name="imageFile" id="fileInput" onchange="previewImage()">
        </div>
        <div>
            <br />
            <input type="submit" value="Recognise" name="submit">
        </div>

    </form>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <h4> Uploaded Image</h4>
        <img id="previewImage" src="#" alt="Preview Image" width="250" height="250"/>
    </div>
</div>

<h4 id="result_title">Predicted Bird species:</h4>

<table class="table">
    <thead>
        <tr>
            <th>Label</th>
            <th>Probability</th>
            <th>GeneralInfo</th>
        </tr>
    </thead>
    <tbody>
      <tr>
            <td id="divPrediction0"></td>
            <td id="divProbability0"></td>
            <td id="divGeneralInf0"></td>
      </tr>
      <tr>
            <td id="divPrediction1"></td>
            <td id="divProbability1"></td>
            <td id="divGeneralInf1"></td>
      </tr>
        <tr>
            <td id="divPrediction2"></td>
            <td id="divProbability2"></td>
            <td id="divGeneralInf2"></td>
        </tr>
    </tbody>
</table>

<script src="~/js/upload.js"></script>

<br />
<br />
<br />

<script type="text/javascript">
    window.onload = function hello() {
        document.getElementById('divPrediction').innerHTML = "";
        
    };

    function previewImage() {
        var preview = document.querySelector('#previewImage');
        var file = document.querySelector('#fileInput').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>