@model BirdRecogniser02.Models.Submission

@{
    ViewData["Title"] = "Submit new bird Species";
}

<h1 class="text-center p-3 contribute-top">Found New?   Contribute New!</h1>

@*<hr />*@
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-3 d-none d-lg-block">
        <img src="~/image/grass.png" class="img-fluid" alt="Grass">
    </div>
    <div class="col-lg-6">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group p-3">
                <label asp-for="BirdName" class="control-label" style="display: none;"></label>
                <input asp-for="BirdName" class="form-control" placeholder="Bird Name" />
                <span asp-validation-for="BirdName" class="text-danger"></span>
            </div>
            <div class="form-group p-3">
                <label asp-for="BirdInformation" class="control-label" style="display: none;"></label>
                <input asp-for="BirdInformation" class="form-control" placeholder="Bird Information" />
                <span asp-validation-for="BirdInformation" class="text-danger"></span>
            </div>
            <div class="form-group p-3 d-flex align-items-center">
                <label asp-for="BirdImage" class="control-label" style="display: none;"></label>
                <label for="fileInput" class="fileInput-button">
                     Update bird image >
                </label>
                <input asp-for="BirdImage" type="file" id="fileInput" accept="image/*" onchange="openCropModal()" style="display: none;" />
                <span asp-validation-for="BirdImage" class="text-danger"></span>
                <img class="preview-img hidden" id="previewImage" src="~/image/Update icon grey.png" alt="Preview Image" />
            </div>

            <div class="form-group p-3 d-flex justify-content-center">
                <input type="submit" value="Create New >" class="btn btn-primary btn-create-bird" />
            </div>
        </form>
    </div>
    <div class="col-3 d-none d-lg-block">
        <img src="~/image/grass3.png" class="img-fluid" alt="Grass 3">
    </div>
</div>

<div class="clearfix"></div>
<!-- The Modal -->
<div class="modal fade" id="cropModal" tabindex="-1" role="dialog" aria-labelledby="cropModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="cropModalLabel">Crop Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="image-container">
                    <img id="imageToCrop" src="#" alt="Preview Image" />
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="showCroppedImage()">Crop</button>
            </div>

        </div>
    </div>
</div>


@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

<script>
    
    let cropper;
    // Cropper photo
    document.getElementById('cropModal').addEventListener('shown.bs.modal', function () {
        if (cropper) {
            cropper.destroy();
        }

        const preview = document.querySelector('#imageToCrop');
        cropper = new Cropper(preview, {
            aspectRatio: 1,
            viewMode: 1,
            autoCropArea: 1,
            cropBoxResizable: false,
            minCanvasWidth: 224,
            minCanvasHeight: 224,
            minCropBoxWidth: 224,
            minCropBoxHeight: 224,
            toggleDragModeOnDblclick: false,
            responsive: true,
            checkCrossOrigin: false,
            checkOrientation: false,
        });
    });

    function openCropModal() {
        var file = document.querySelector('#fileInput').files[0];
        var reader = new FileReader();

        reader.addEventListener("load", function () {
            var preview = document.querySelector('#imageToCrop');
            preview.src = reader.result;

            // Show crop modal
            $('#cropModal').modal('show');
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }

    function showCroppedImage() {
        // Get the cropped image data
        var croppedCanvas = cropper.getCroppedCanvas();

        // If the cropping was successful
        if (croppedCanvas) {
            // Convert the canvas to a data URL
            var croppedDataURL = croppedCanvas.toDataURL("image/png");

            // Set the preview image's src to the data URL
            var previewImage = document.querySelector('#previewImage');
            previewImage.src = croppedDataURL;
        }
        // Remove the 'hidden' class from the preview image
        previewImage.classList.remove('hidden');

        // Close the modal
        $('#cropModal').modal('hide');
    }

</script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
