@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="row d-flex justify-content-center align-items-center">
    <div class="col-3 d-none d-lg-block">
        <img src="~/image/grass.png" class="img-fluid" alt="Grass">
    </div>
    <div class="col-lg-6 d-flex justify-content-center align-items-center position-relative">
        <img src="~/image/square.png" class="img-fluid position-absolute w-100" alt="ThanksBG" />
        <div class="ThanksContent position-relative text-center">
            <img src="~/image/Thumb up.png" class="img-fluid" />
            <h1 class="m-5">
                Your Contribution
                has been submitted.
            </h1>
            <p>Thank you for your Contribution!</p>
        </div>
    </div>
    <div class="col-3 d-none d-lg-block">
        <img src="~/image/grass3.png" class="img-fluid" alt="Grass 3">
    </div>
</div>
