@{
    ViewData["Title"] = "About Us";
}
<div class="row p-0 m-0">
    <div class="col-md-12 p-0 position-relative">
            <img src="~/image/AboutUsBG1.png" class="banner-image-about img-fluid position-absolute w-100 " alt="banner" style="z-index: -1;">
            <div class="d-flex justify-content-center m-3">
                <div class="banner-area text-left m-3">
                    <h1 class="text-black text-center">About Us</h1>
                <h2 class="m-3">Our Purpose</h2>
                <p class="m-3">There are many beautiful birds around us, and whenever we see them, we love taking photos. However, we're also curious about their names, habits, and habitats, and there's no software that can identify them and provide us with this information. That's where Bird Recogniser comes in - it's a software system that can identify birds and provide clients with comprehensive information about them. With Bird Recogniser, you can learn everything you want to know about the birds that fly around you.</p>
                <hr>
                <h2 class="m-3">Our team</h2>
                <p class="m-3">Our team consists of experienced developers, designer and testers. We’re really concerned with generating better digital experiences and outcomes for our customers whether that be an app or otherwise.</p>
                </div>
            </div>
    </div>
</div>

