@{
    ViewData["Title"] = "About Us";
}
<div class="row p-0 m-0">
    <div class="col-md-12 p-0 position-relative">
            <img src="~/image/AboutUsBG1.png" class="banner-image-about img-fluid position-absolute w-100 " alt="banner" style="z-index: -1;">
            <div class="d-flex justify-content-center m-3">
                <div class="banner-area text-left m-3">
                    <h1 class="text-black text-center">About Us</h1>
                <h2 class="m-3">Bird Recogniser Project</h2>
                <p class="m-3">The Bird Recogniser is a graduation project developed by a team of students at Wellington Institute of Technology in pursuit of their degree/diploma in IT. This project was specifically created for Dr. Trang Thi Thu Do, who holds a keen interest in both Artificial Intelligence technology and the natural world, particularly birds. Dr. Trang desired a software system capable of identifying bird species based on their images, aiming to provide a valuable resource for the New Zealand community and tourists who share her passion for native avian species.</p>
                <hr>
                <h2 class="m-3">Al-Khwarizmi Team</h2>
                <p class="m-3">Our team comprises three members:</p>
                <br>
                <p class="m-3"><b>Muaz Aldairi: </b>Currently pursuing a Bachelor's degree in IT at Wellington Institute of Technology. Muaz has contributed to this project as a project manager, analyst, and web app back-end developer.</p>
                <br>
                <p class="m-3"><b>Hong Wang: </b>Currently enrolled in a Graduate Diploma program in IT at Wellington Institute of Technology. Hong has played a role in this project as a designer, web app front-end developer, and tester.</p>
                <br>
                <p class="m-3"><b>ZongZheng Wang: </b>Currently enrolled in a Graduate Diploma in IT at Wellington Institute of Technology. ZongZheng has contributed to this project as an AI model developer, iOS mobile app developer, and tester.</p>
                <hr>
                <h2 class="m-3">Bird Recogniser System</h2>
                <p class="m-3">The Bird Recognizer system comprises two applications: a web application and an iOS mobile application. Both apps utilize an AI model to identify bird species based on their images. However, it's important to note that this is the initial version of the system and further work and development are required. Additionally, it's worth mentioning that the AI model's accuracy is limited as it has been trained on a dataset consisting of 510 bird species, while there are approximately 10,000 to 11,000 recognized bird species worldwide. To achieve the highest possible accuracy, the model needs to be trained using data encompassing all bird species.</p>
                </div>
            </div>
    </div>
</div>

