@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <img src="~/image/banner original.jpg" alt="banner" class="banner-image">
    <div class="banner-text d-flex flex-column justify-content-center align-items-center text-center">
        <h1>Discover 510+ Bird Species</h1>
        <h2>Become A Total Bird Expert, by Browsing Our Species Database!</h2>
        <button class="banner-text d-flex flex-column justify-content-center align-items-center text-center">
            Add an image
            <img src="~/image/Update icon.png" alt="Button Icon">
        </button>
    </div> 
</div>
