@{
    ViewData["Title"] = "Home Page";
}
<div class="banner">
    <img src="~/image/banner original.jpg" alt="banner" style="width: 100%;>
    <div class="banner-text">
        <h1>Discover 510+ Bird Species</h1>
        <h2>Become A Total Bird Expert, by Browsing Our Species Database!</h2>
        <button class="button-image">
            Add an image
            <img src="~/image/Update icon.png" alt="Button Icon">
        </button>
    </div> 
</div>
