@{
    ViewData["Title"] = "Home Page";
}

<div class="row no-gutter p-0 m-0">
    <div class="col-md-12 p-0">
        <div class="position-relative">
            <img src="~/image/homebanner1.png" class="banner-image" alt="banner">
            <div class="banner-text position-absolute top-50 start-50 translate-middle text-center">
                <h1 class="text-white">Recognise Bird Species from their images</h1>              
                <h2 class="text-white">Wondering what kind of bird it could be? We will help you</h2>
                <a class="btn bg-white shadow rounded-pill btn-img text-center" asp-controller="RecogniseDemo" asp-action="Index">Start Recognising</a>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-3 howworkd-flex justify-content-center align-items-center start-50">
        <h1 class="text-black text-center">
            How it works
        </h1>
        <div class="row justify-content-center howworkcontent">
            <div class="col-md-4  d-flex flex-column justify-content-center align-items-center">
                <img class="img-fluid mx-auto d-block photoimage" src="~/image/phone take a photo.png" alt="takephoto">
                <p class="text-center paragrph align-self-center">Select a clear photo for the bird you want to recognise</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img class="img-fluid mx-auto d-block deepnetwork" src="~/image/image 1.png" alt="deepnetwork">
                <p class="text-center paragrph align-self-center">Bird Recogniser will predict the bird using our AI model</p>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="rounded-rectangle justify-content-center p-3  mx-auto d-block text-center">
                    <h1>Bird Name</h1>
                    <p>Bird Possibility</p>
                    <p>Bird Information</p>
                    
                </div>
                <p class="text-center paragrph align-self-center">Bird Recogniser will display the bird name and information</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Why Bird Recogniser?</h1>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <p class="text-center p-3">
                    I have always harbored a curiosity for the birds I encounter in nature and have a desire to deepen my knowledge about them. Regrettably, in the time before the AI era, gaining further information about these birds solely through visual observation was not possible. However, thanks to the Bird Recognizer, the made that easy. Now, all it takes is a photograph of the bird to uncover the information about it.</p>
            <div class="col-md-2">
                <img src="~/image/image 2.png" class="img-fluid face" alt="face">
            </div>
        </div>
    </div>






</div>

