@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12 p-0">
        <div class="position-relative">
            <img src="~/image/homebanner1.png" class="banner-image" alt="banner">
            <div class="banner-text position-absolute top-50 start-50 translate-middle text-center">
                <h1 class="text-white">Discover 510+ Bird Species</h1>
                <h2 class="text-white">Become A Total Bird Expert, by Browsing Our Species Database!</h2>
                <button class="btn bg-white shadow rounded-pill btn-img">Add an image</button>
            </div>
        </div>
    </div>
    <div class="col-md-12 p-3 howworkd-flex justify-content-center align-items-center start-50">
        <h1 class="text-black text-center">
            How it works
        </h1>
        <div class="row justify-content-center howworkcontent">
            <div class="col-md-4  d-flex flex-column justify-content-center align-items-center">
                <img class="img-fluid mx-auto d-block photoimage" src="~/image/phone take a photo.png" alt="takephoto">
                <p class="text-center paragrph align-self-center">Drag a photo from your device or take a photo from your phone which you want to recognise.</p>
            </div>
            <div class="col-md-4 d-flex flex-column align-items-center">
                <img class="img-fluid mx-auto d-block deepnetwork" src="~/image/image 1.png" alt="deepnetwork">
                <p class="text-center paragrph align-self-center">Our system will predict the bird in our deep learning model.</p>
            </div>
            <div class="col-md-4 d-flex flex-column">
                <div class="rounded-rectangle justify-content-center p-3  mx-auto d-block text-center">
                    <h1>Bird Name</h1>
                    <p>Bird Information</p>
                    <p>Bird Possibility</p>
                </div>
                <p class="text-center paragrph align-self-center">Bird Recogniser App will give the prediction result and the bird information.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Who are using Bird Recogniser?</h1>
            </div>
        </div>
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <p class="text-center p-3">As a child I was constantly outside searching for birds. Unfortunately that need to explore faded away as I became older. Now that I’ve been hiking more often, Bird Recogniser has helped bring back that side of myself. I don’t just look at a bird and see a bird. I get close enough to see what could be standing in that tree, and I want to know everything about it.</p>
            </div>
            <div class="col-md-2">
                <img src="~/image/image 2.png" class="img-fluid face" alt="face">
            </div>
        </div>
    </div>






</div>

