@{
    ViewData["Title"] = "Get ios mobile app";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 birdcontent">
            <h1 class="birdexpert">Your bird expert in your pocket.</h1>
            <p>Try out Bird Recogniser App on your phone and recognise more than 510 species!</p>
            <div class="imgcontent">
                <img class="img-fluid" src="~/image/download 1.png" />
                <img class="img-fluid" src="~/image/Available_on_the_App_Store_(black)_SVG 1.png" />
                <p>Scan the QR code with your phone camera to download the app</p>
            </div>
            
        </div>
        <div class="col-md-6 p-0">
            <img class="img-fluid" src="~/image/D-_Captone-Documents_Design_banner2.jpg" />
        </div>
    </div>
</div>


