html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header{
    margin:0;
    bottom:0;
}

body {
  margin-bottom: 60px;
}

.container{
    margin:0;
    padding:0;
}


.nav-link {
    font-family: Arial;
    font-weight: 700;
    font-size: 22px;
    line-height: 50px;
    color: #1B4332 !important;
    padding-right: 1.5rem !important;
    padding-bottom:0;
}

.navbar-nav{
    padding-top:45px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.pagecontent{
    padding:0px;
}




